.thumbnail {
  width: 100%;
}

.v-title {
  font-size: 14px;
  font-weight: bold;
  margin-top: 0;
  line-height: 20px;
  margin-bottom: 12px;
}

.v-i-grid {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.p-pic {
  width: 40px;
  border-radius: 50px;
}
.thumbnail-raw {
  margin-bottom: 12px;
  position: relative;
}
.v-author,
.v-status {
  font-size: 12px;
  color: gray;
}
.v-author {
  margin-bottom: 4px;
}
.v-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}
.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-family: roboto, Arial;
  font-size: 12px;
  font-weight: 500;
  padding: 4px;
  border-radius: 3px;
}
